{% extends 'layout.html' %}

{% block content %}
    <h1>Crear lista</h1>
    <form class="row no-gutters text-left gy-4" method="POST">
        {% csrf_token %}
        {% for fm in form %}
            {% if fm.label %}
                <div class="col-12">
                    <label class="w-100">{{fm.label}}</label>
                    {{fm}}
                </div>
            {% else %}
                {{fm}}
            {% endif %}
        {% endfor %}
        <div class="col-12">
            {% if error %}
                <p class="text-danger">{{ error }}</p>
            {% endif %}
            <input type="submit" vlaue="Crear"/>
        </div>
    </form>
    <a class="mt-4" href="/">Volver al home</a>
{% endblock  %}