{% extends 'layout.html' %}

{% block content %}
    <h1>Bienvenido {{ usuario.nombre }}</h1>
    <a href="lista/crear">Crear lista</a>
    {% if listas %}
        <table class="text-center mt-4">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                {% for lista in listas %}
                    <tr>
                        <td>{{ lista.title }}</td>
                        <td>{{ lista.description }}</td>
                        <td>
                            <a href="/lista/{{lista.id}}">Ver lista</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock  %}