{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-secondary">
    <header>
    </header>
    
    <div class="row layout-title">
        {% block title %}{% endblock %}
    </div>

    <div class="fixed-center w-100 px-4 px-md-0" style="max-width: 500px">
        <div class="card bg-light w-100 w-md-auto text-center py-4">
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer>
    </footer>
</body>
</html>