{% extends 'layout.html' %}

{% block content %}
    <h1>Registrar</h1>
    <form class="row no-gutters text-center gy-4" method="POST">
        {% csrf_token %}
        {% for fm in form %}
            <div class="col-12">
                <label class="w-100">{{fm.label}}</label>
                {{fm}}
            </div>
        {% endfor %}
        <div class="col-12">
            {% if error %}
                <p class="text-danger">{{ error }}</p>
            {% endif %}
            <input type="submit" value="Registrar"/>
        </div>
    </form>
    <a class="mt-4" href="/login">Volver al login</a>
{% endblock  %}